.sectionOne {
	margin: 2em 0;
}

.header {
	display: flex;
}

.helloAcc {
	width: 50%;
	display: flex;
	justify-content: flex-start;
}

.logInOut {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}




.addProjet {
	display: flex;
	justify-content: center;
	margin-top: 2em;
}

.newProjet {
	display: flex;
	justify-content: center;
}
______

.inscriptionCss{
	display: flex;
	flex-direction: row;
	justify-content: center;
}